Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-function-cognitive-complexity,
  readability-function-size,
  -modernize-use-trailing-return-type
WarningsAsErrors: ''
CheckOptions:
  - { key: readability-function-size.StatementThreshold, value: '40' }
  - { key: readability-function-cognitive-complexity.Threshold, value: '15' }
